* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*classi per posizionamento */
.display_flex {
  display: flex;
}
.justify_flexend {
  justify-content: flex-end;
}

/* testi e icone*/
.colorgrey {
  color: grey;
}

.fontsize_20 {
  font-size: 20px;
}

.icon_margin_20 {
  margin: 20px;
}

/* dimensioni e bordi*/
.width_30perc {
  width: 30%;
  padding: 2%;
}
.width_70perc {
  width: 70%;
  padding: 5%;
}

.tenVH_height {
  height: 10vh;
}

.height_elementslayout {
  height: 100px;
}

.contacts_user_img {
  height: 80px;
  text-align: center;
}

.div_4roundedimg {
  height: 80px;
  width: 80px;
  border-radius: 100%;
  border: 1px solid transparent;
  overflow: hidden;
}

.rounded_border_msg {
  border-radius: 10px;
}

.rounded_border_img {
  border: 1px solid transparent;
  border-radius: 100%;
}

/* classi colori */
.lightgrey_back {
  background-color: lightgrey;
}
.white_back {
  background-color: white;
}
.lightgrey_Bborder {
  border-bottom: 1px solid lightgrey;
}

.green_back {
  background-color: green;
}

.general_wrapper {
  width: 100vw;
  height: 100vh;
  background-color: red;
}

/* lato sinistro */
.left_side {
  width: 30%;
  height: 100%;
  background-color: grey;
  border-right: 2px solid grey;
  float: left;
}


/*fine lato sinistro */

/*lato destro */
.right_side {
  width: 70%;
  height: 100%;
  background-color: blue;
  float: left;
}

.chat_body {
  flex-direction: column;
  justify-content: flex-end;
  height: 520px;
  background-color: #E6DEDB;
}

.user_message, .contact_message {
  width: 100%;
  height: auto;
  background: yellow;
}

.sent_message, .received_message {
  width: 50%;
  height: 20px;
}

.user_message {
  justify-content: flex-end;
}
/* fine lato destro */
