* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*classi per posizionamento */
.display_flex {
  display: flex;
}
.justify_flexend {
  justify-content: flex-end;
}
.justify_center {
  justify-content: center;
}
.justify_spar {
  justify-content: space-around;
}
.justify_spbt {
  justify-content: space-between;
}
.flexdir_column {
  flex-direction: column;
}

.align_it_cent {
  align-items: center;
}

/* testi e icone*/
.colorgrey {
  color: grey;
}

.fontsize_20 {
  font-size: 20px;
}
.fontsize_30 {
  font-size: 30px;
}

/* dimensioni spaziature e bordi*/
.width_30perc {
  width: 30%;
}
.width_70perc {
  width: 70%;
}
.width_80perc {
  width: 80%;
}
.width_100perc {
  width: 100%;
}

.height_5perc {
  height: 5%;
}
.height_10perc {
  height: 10%;
}
.height_15perc {
  height: 15%;
}
.height_30perc {
  height: 30%;
}
.height_75perc {
  height: 75%;
}
.height_100perc{
  height: 100%;
}
.height100px {
  height: 100px;
}

.padding10px {
  padding: 10px;
}
.padding20px {
  padding: 20px;
}
.padding50px {
  padding: 50px;
}

.icon_margin_20 {
  margin: 20px;
}

.contacts_user_img {
  height: 80px;
  text-align: center;
}

.div_4roundedimg {
  height: 80px;
  width: 80px;
  border-radius: 100%;
  border: 1px solid transparent;
  overflow: hidden;
}

.rounded_border_msg {
  border-radius: 10px;
}

.rounded_border_img {
  border: 1px solid transparent;
  border-radius: 100%;
}

/* classi colori */
.lightgrey_back {
  background-color: lightgrey;
}
.white_back {
  background-color: white;
}
.lightgrey_Bborder {
  border-bottom: 1px solid lightgrey;
}


/*LAYOUT START */
.general_wrapper {
  width: 100vw;
  height: 100vh;
  background-color: red;
}

/* lato sinistro */
.left_side {
  background-color: grey;
  border-right: 2px solid grey;
  float: left;
}


/*fine lato sinistro */

/*lato destro */
.right_side {
  background-color: blue;
  float: left;
}

.chat_body {
  background-color: #E6DEDB;
  overflow-y: scroll;
}

.user_message, .contact_message, .template {
  width: 100%;
  height: auto;
  background: yellow;
  margin-bottom: 5px;
  border-radius: 10px;
}

.messagesent, .messagereceived {
  position: relative;
  min-width: 30%;
  max-width: 50%;
  height: auto;
  padding: 10px;
  font-size: 20px;
  margin-bottom: 15px;
  border-radius: 10px;
}
.messagereceived {
  background-color: white;
}
.messagesent {
  float: right;
  background-color: #D5F9BA;
}

.clear {
  content:'';
  display: table;
  overflow: hidden;
  clear: both;
}
.mess_text {
  display: block;
  width: 80%;
  height: auto;
}

.mess_time {
  display: block;
  position: absolute;
  right: 10px;
  bottom: 5px;
  font-size: 10px;
  color: #B6B9BB;
}

.template {
  display: none;
}

.chat_footer_center .message_input_space input {
  padding: 5px;
  width: 100%;
  height: 100%;
  border: 0;
  border-radius: 10px;
  font-size: 15px;
  color: grey;
}
.chat_footer_center .message_input_space input::placeholder {
  color: lightgrey;
}


/* fine lato destro */
