* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* classi dimensioni e bordi*/
.tenVH_height {
  height: 10vh;
}

.rounded_border {
  border-radius: 10px;
}

/* classi colori */
.lightgrey_back {
  background-color: lightgrey;
}
.white_back {
  background-color: white;
}
.lightgrey_Bborder {
  border-bottom: 1px solid lightgrey;
}

.green_back {
  background-color: green;
}


.general_wrapper {
  width: 100vw;
  height: 100vh;
  background-color: red;
}

.left_side {
  width: 30%;
  height: 100%;
  background-color: grey;
  border-right: 2px solid grey;
  float: left;
}

.right_side {
  width: 70%;
  height: 100%;
  background-color: blue;
  float: left;
}

.chat_body {
  height: 80vh;
  background-color: #E6DEDB;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

}

.user_message, .contact_message {
  width: 100%;
  height: auto;
  background: yellow;
}

.sent_message, .received_message {
  width: 50%;
  height: 20px;
}

.user_message {
  display: flex;
  justify-content: flex-end;
}
